.f-poppins {
  font-family: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.material-symbols-outlined {
  color: inherit;
  vertical-align: middle;
  font-variation-settings: "FILL" 0;

  // 一般 icon hover 效果
  &.icon-hover:hover {
    color: $orange;
  }

  // icon 填滿樣式
  &.icon-fill {
    font-variation-settings: "FILL" 1;
    color: $orange;
  }
}

.btn-transX {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.3s ease;

  &:hover{
    transform: translateX(4px);
  }
}

// 共用card hover效果
.card-transY {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 8px rgba($accent-300, 0.1); // 初始陰影
  overflow: hidden;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba($accent-300, 0.2); // 懸浮陰影
  }
}

.card-wrapper{
  background-color: $white;
  border-radius: $border-radius-lg;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

// 文字
.title-cp1 {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 限制最多 2 行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title-cp2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制最多 2 行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.h-2em{
  height: 60px;
}

.d-flex-between{
  display: flex;
  justify-content: space-between;
}