// 共用
.logo {
  max-width: 100px;
}

.avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-toggle::after {
  display: none !important;
}

// navbar
.navbar {
  padding: 0.75rem 0;
  box-shadow: 0 2px 8px rgba($accent-300, 0.5);
  background-color: #fffc;
  position: sticky;
  top: 0;
  z-index: 999;
  
  .navbar-toggler {
    border: none;
    font-size: 1.5rem;

    &:focus {
      box-shadow: 0 4px 15px rgba(141, 63, 38, 0.2);
    }
  }

  .navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .nav-item {
    font-size: 24px;
    font-weight: $font-weight-bold;
    padding: 12px 16px;
  }

  .nav-sub {
    display: none;
    font-size: 14px;
    font-weight: 400;
    color: $neutral-300;
    margin-top: 4px;
  }

  @media (max-width: 992px) {
    .navbar-nav {
      display: block;
      text-align: center;
      padding-top: 16px;
    }

    .nav-item {
      border-bottom: 1px solid $gray-200;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: $accent-300;
        transition: width 0.3s ease;
      }

      &:hover::after,
      &.active::after {
        width: 100%;
      }

      &:last-child {
        border: none;
      }
    }
    .nav-sub {
      display: block;
    }
  
  }
  // 大尺寸 memberbar
  .memberbar {
    ul {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin: 0;
      padding: 0;
    }
  
    .icon-badge, .login-dropdown {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $accent-100;
      color: $white;
      font-size: 1.25rem;
      transition:
        transform 0.2s ease,
        background-color 0.3s ease;
  
      &:hover {
        background-color: darken($accent-100, 10%);
        transform: translateY(-2px);
      }
  
      &:active {
        transform: scale(0.95);
      }
  
      .badge-count {
        position: absolute;
        top: -6px;
        right: -6px;
        background-color: $danger;
        color: $white;
        font-size: 0.7rem;
        padding: 0 4px;
        border-radius: 50%;
        line-height: 1.5;
        text-align: center;
        font-weight: 600;
      }

      .dropdown-menu-position {
        width: 237px;
        top: 90px;
        right: 0px;
        left: auto;
      }

      .dropdown-header{
        display: flex;
        align-items: center;
         gap: 8px;
        padding: 8px 12px;
      }

      .dropdown-item{
        display: flex;
        align-items: center;
        padding: 12px 24px;
      }

    }
  }
}

// footer
.footer {
  position: relative;
  color: $white;

  .bg {
    background-color: $accent-300;
    // border-radius: 80px 80px 0 0;
    position: relative;

    // .wave {
    //   position: absolute;
    //   top: -20px;
    //   left: 0;
    //   width: 100%;
    //   height: auto;
    //   z-index: 1;
    // }
  }

  .footer-info {
    display: flex;
    justify-content: space-between;
  }

  .info-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .contact-info {
    display: flex;
    gap: 1rem;

    .contact {
      width: 48px;
      height: 48px;
    }
  }

  .copyright{
    font-size: 14px;
  }

  @media (max-width: 992px) {
    .footer-info {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .contact-info {
      .contact {
        width: 36px;
        height: 36px;
      }
    }

    .logo-link {
      margin-bottom: 16px;
    }
  }
}
